The previous tactic failed. Here is the current proof state:

Goal:
{{ goal_state }}

Error:
{{ error_message }}
{% if type_mismatch_details %}
Type mismatch details:
{{ type_mismatch_details }}
{% endif %}

Generate the next tactic to make progress on this goal.